
  /* li{
    display: inline-block;
    padding: 10px;
} */

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
} */


.container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    flex: 1;
    margin-right: 16px;
    margin-top: 10px;
    text-align: center;
  }