.table-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin: 0 1rem;
  }

  input[type="text"] {
    width: 25%;
    margin: 7px auto;
    display: block;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.3);
  }
  
  .table {
    display:inline-block;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    /* max-width: 900px; */
    
  }
  
  th,
  td {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  th {
    display: inline-block;
    margin-right:10px ;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 480px) {
    input {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
  